xml/cv.gen.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<!ELEMENT cv (ident,pretentionSalariale?, formations, experiences)>
<!ATTLIST cv
	idcv ID #REQUIRED
>
<!ELEMENT pretentionSalariale (#PCDATA)>
<!ELEMENT deb (#PCDATA)>
<!ELEMENT fin (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT tel (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
<!ELEMENT pnom (#PCDATA)>
<!ELEMENT ident (nom, pnom, pnom?, pnom, datenaiss, permis, langues, (tel | mail)?)>
<!ELEMENT centre (#PCDATA)>
<!ELEMENT langue EMPTY>
<!ATTLIST langue
	matern CDATA #REQUIRED
	langName CDATA #REQUIRED
>
<!ELEMENT permis (#PCDATA)>
<!ATTLIST permis
	ownVehicule (true | false) #REQUIRED
>
<!ELEMENT diplome (intitule)>
<!ATTLIST diplome
	obtenu CDATA #IMPLIED
	noteS20  CDATA #IMPLIED
>
<!ELEMENT langues (langue+)>
<!ELEMENT diplomes (diplome*)>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT formation (deb, fin?, centre, diplomes)>
<!ELEMENT experience (deb, fin?, intitule)>
<!ELEMENT formations (formation*)>
<!ELEMENT experiences (experience*)>
<!--
	ajout pour demo ref d'id
-->
<!ELEMENT cvs (meilleurCV,cvSelectiones,cv+)>
<!ELEMENT meilleurCV EMPTY>
<!ATTLIST meilleurCV
	idcv IDREF #REQUIRED>
<!ELEMENT cvSelectiones EMPTY>
<!ATTLIST cvSelectiones
	idcvs IDREFS #REQUIRED>
<!--
	ENTITIES
-->
<!ENTITY euro "&#x20ac;">
<!ENTITY nbsp "&#160;">
<!ENTITY signature "DESORBAIX Alexanrde">
