xml/cv.gen.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<!ELEMENT cv (ident, formations, experiences)>
<!ATTLIST cv
	idcv ID #REQUIRED
>
<!ELEMENT deb (#PCDATA)>
<!ELEMENT fin (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT tel (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
<!ELEMENT pnom (#PCDATA)>
<!ELEMENT ident (nom, pnom, pnom?, pnom, datenaiss, permis, langues, (tel | mail)?)>
<!ELEMENT centre (#PCDATA)>
<!ELEMENT langue EMPTY>
<!ATTLIST langue
	matern CDATA #REQUIRED
	langName CDATA #REQUIRED
>
<!ELEMENT permis (#PCDATA)>
<!ATTLIST permis
	ownVehicule (true | false) #REQUIRED
>
<!ELEMENT diplome (intitule)>
<!ATTLIST diplome
	obtenu CDATA #IMPLIED
>
<!ELEMENT langues (langue+)>
<!ELEMENT diplomes (diplome*)>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT formation (deb, fin?, centre, diplomes)>
<!ELEMENT experience (deb, fin?, intitule)>
<!ELEMENT formations (formation*)>
<!ELEMENT experiences (experience*)>
<!ELEMENT cvs (cv+)>